esp-node-red-flow.txt
[{"id":"6bf24b42.ad7004","type":"mqtt in","z":"ae8e32ad.900b5","name":"","topic":"switch/status","qos":"1","broker":"2a4d0fe6.ea549","x":150,"y":560,"wires":[["f9e06298.4f7b","a5db4729.4e4f98"]]},{"id":"36d81744.fcfe68","type":"mqtt in","z":"ae8e32ad.900b5","name":"","topic":"switch/acknowledge","qos":"1","broker":"2a4d0fe6.ea549","x":170,"y":500,"wires":[["afcdc8ea.2e4618"]]},{"id":"bda3c18c.25631","type":"mqtt out","z":"ae8e32ad.900b5","name":"","topic":"switch","qos":"2","retain":"false","broker":"2a4d0fe6.ea549","x":790,"y":440,"wires":[]},{"id":"5195c56b.21c74c","type":"mqtt out","z":"ae8e32ad.900b5","name":"","topic":"","qos":"","retain":"false","broker":"2a4d0fe6.ea549","x":790,"y":280,"wires":[]},{"id":"46ff7d0b.f194a4","type":"mqtt in","z":"ae8e32ad.900b5","name":"","topic":"switch/test","qos":"1","broker":"2a4d0fe6.ea549","x":140,"y":340,"wires":[["f359de2e.fb0ed","deaf5b86.3f0618"]]},{"id":"6f1f64a3.04132c","type":"e-mail","z":"ae8e32ad.900b5","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":790,"y":560,"wires":[]},{"id":"a621effd.ae117","type":"http request","z":"ae8e32ad.900b5","name":"","method":"POST","ret":"txt","url":"","tls":"","x":810,"y":600,"wires":[[]]},{"id":"a5db4729.4e4f98","type":"switch","z":"ae8e32ad.900b5","name":"split","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Switch Is Open!","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":560,"wires":[["6f1f64a3.04132c","a621effd.ae117"]]},{"id":"c9db0b86.add2d8","type":"debug","z":"ae8e32ad.900b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":100,"wires":[]},{"id":"f9e06298.4f7b","type":"ui_text","z":"ae8e32ad.900b5","group":"9790a0cb.589fb","order":2,"width":"0","height":"0","name":"","label":"Current Status: ","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":620,"wires":[]},{"id":"8db03b1d.6a3d98","type":"ui_text","z":"ae8e32ad.900b5","group":"9790a0cb.589fb","order":1,"width":"0","height":"0","name":"","label":"Warnings: ","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":500,"wires":[]},{"id":"f359de2e.fb0ed","type":"ui_text","z":"ae8e32ad.900b5","group":"9790a0cb.589fb","order":5,"width":0,"height":0,"name":"reply","label":"","format":"{{msg.payload}}","layout":"col-center","x":790,"y":340,"wires":[]},{"id":"bbb21a76.4ac068","type":"ui_button","z":"ae8e32ad.900b5","name":"","group":"9790a0cb.589fb","order":3,"width":0,"height":0,"passthru":false,"label":"Acknowledge Warning","color":"","bgcolor":"rgb(0, 148, 206)","icon":"","payload":"2","payloadType":"num","topic":"switch","x":180,"y":440,"wires":[["ac877edb.d730c"]]},{"id":"4345ab6e.e17d94","type":"ui_button","z":"ae8e32ad.900b5","name":"","group":"9790a0cb.589fb","order":4,"width":0,"height":0,"passthru":false,"label":"Test Magnetic Switch Connection","color":"","bgcolor":"rgb(0, 148, 206)","icon":"","payload":"1","payloadType":"num","topic":"switch","x":220,"y":280,"wires":[["5195c56b.21c74c","7b84860b.555c28","7f5c38b.76a89c8"]]},{"id":"37136d0.1f53894","type":"mqtt in","z":"ae8e32ad.900b5","name":"","topic":"#","qos":"1","broker":"2a4d0fe6.ea549","x":130,"y":100,"wires":[["c9db0b86.add2d8"]]},{"id":"8b96bd22.0aafb","type":"mqtt in","z":"ae8e32ad.900b5","name":"","topic":"smoke/status","qos":"1","broker":"2a4d0fe6.ea549","x":150,"y":1100,"wires":[["6fcadf1c.9428","4df77bd6.1e9404"]]},{"id":"715c95f4.979a2c","type":"mqtt in","z":"ae8e32ad.900b5","name":"","topic":"smoke/acknowledge","qos":"1","broker":"2a4d0fe6.ea549","x":170,"y":1040,"wires":[["139ed2a3.82374d"]]},{"id":"473e4cf4.1e3dc4","type":"mqtt out","z":"ae8e32ad.900b5","name":"","topic":"","qos":"","retain":"false","broker":"2a4d0fe6.ea549","x":790,"y":980,"wires":[]},{"id":"104fe085.ba73bf","type":"mqtt out","z":"ae8e32ad.900b5","name":"","topic":"","qos":"","retain":"false","broker":"2a4d0fe6.ea549","x":790,"y":820,"wires":[]},{"id":"7097f9d0.1ae948","type":"mqtt in","z":"ae8e32ad.900b5","name":"","topic":"smoke/test","qos":"1","broker":"2a4d0fe6.ea549","x":140,"y":880,"wires":[["30931cea.affb24","a68e8f03.b2222"]]},{"id":"4aa69033.ab386","type":"http request","z":"ae8e32ad.900b5","name":"","method":"POST","ret":"txt","url":"","tls":"","x":810,"y":1140,"wires":[[]]},{"id":"4df77bd6.1e9404","type":"switch","z":"ae8e32ad.900b5","name":"split","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Switch Is Open!","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1100,"wires":[["609140f4.18b6b","4aa69033.ab386"]]},{"id":"6fcadf1c.9428","type":"ui_text","z":"ae8e32ad.900b5","group":"5d892e58.f0765","order":2,"width":"0","height":"0","name":"","label":"Current Status: ","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":1160,"wires":[]},{"id":"10ba07b2.931de8","type":"ui_text","z":"ae8e32ad.900b5","group":"5d892e58.f0765","order":1,"width":"0","height":"0","name":"","label":"Warnings: ","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":1040,"wires":[]},{"id":"79f201d.7235","type":"ui_button","z":"ae8e32ad.900b5","name":"","group":"5d892e58.f0765","order":3,"width":0,"height":0,"passthru":false,"label":"Acknowledge Warning","color":"","bgcolor":"rgb(0, 148, 206)","icon":"","payload":"2","payloadType":"num","topic":"smoke","x":180,"y":980,"wires":[["835a35d.5e4fac8"]]},{"id":"4fb89a17.e5df34","type":"ui_button","z":"ae8e32ad.900b5","name":"","group":"5d892e58.f0765","order":4,"width":0,"height":0,"passthru":false,"label":"Test Smoke Connection","color":"","bgcolor":"rgb(0, 148, 206)","icon":"","payload":"1","payloadType":"num","topic":"smoke","x":190,"y":820,"wires":[["104fe085.ba73bf","ce5a6d41.5ee3e","83ac4f4c.ff02d"]]},{"id":"30931cea.affb24","type":"ui_text","z":"ae8e32ad.900b5","group":"5d892e58.f0765","order":5,"width":0,"height":0,"name":"reply","label":"","format":"{{msg.payload}}","layout":"col-center","x":790,"y":880,"wires":[]},{"id":"ce5a6d41.5ee3e","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":"Failed","duration":"0","units":"s","name":"msg","x":440,"y":840,"wires":[["3591d558.ff830a"]]},{"id":"3591d558.ff830a","type":"stoptimer","z":"ae8e32ad.900b5","duration":"3","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":620,"y":920,"wires":[["30931cea.affb24"],[]]},{"id":"83ac4f4c.ff02d","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":"  . . .","duration":"0","units":"s","name":"msg","x":440,"y":780,"wires":[["30931cea.affb24","ca804d07.5194e"]]},{"id":"10faf486.51487b","type":"stoptimer","z":"ae8e32ad.900b5","duration":"3","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":640,"y":380,"wires":[["f359de2e.fb0ed"],[]]},{"id":"deaf5b86.3f0618","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":" ","duration":"0","units":"s","name":"msg","x":460,"y":380,"wires":[["10faf486.51487b"]]},{"id":"7b84860b.555c28","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":"Failed","duration":"0","units":"s","name":"msg","x":460,"y":300,"wires":[["10faf486.51487b"]]},{"id":"7f5c38b.76a89c8","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":". . .","duration":"0","units":"s","name":"msg","x":460,"y":240,"wires":[["f359de2e.fb0ed","867f4551.151338"]]},{"id":"afcdc8ea.2e4618","type":"function","z":"ae8e32ad.900b5","name":"","func":"context.global.switchWarn = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["8db03b1d.6a3d98"]]},{"id":"ac877edb.d730c","type":"switch","z":"ae8e32ad.900b5","name":"","property":"switchWarn","propertyType":"global","rules":[{"t":"neq","v":" ","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":440,"wires":[["bda3c18c.25631"]]},{"id":"139ed2a3.82374d","type":"function","z":"ae8e32ad.900b5","name":"","func":"context.global.smokeWarn = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1040,"wires":[["10ba07b2.931de8"]]},{"id":"835a35d.5e4fac8","type":"switch","z":"ae8e32ad.900b5","name":"","property":"smokeWarn","propertyType":"global","rules":[{"t":"neq","v":" ","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":980,"wires":[["473e4cf4.1e3dc4"]]},{"id":"a68e8f03.b2222","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":" ","duration":"0","units":"s","name":"msg","x":440,"y":920,"wires":[["3591d558.ff830a"]]},{"id":"867f4551.151338","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":" ","duration":"5","units":"s","name":"msg","x":640,"y":240,"wires":[["f359de2e.fb0ed"]]},{"id":"ca804d07.5194e","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":" ","duration":"5","units":"s","name":"msg","x":640,"y":780,"wires":[["30931cea.affb24"]]},{"id":"609140f4.18b6b","type":"e-mail","z":"ae8e32ad.900b5","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":790,"y":1100,"wires":[]},{"id":"570b1699.679348","type":"mqtt in","z":"ae8e32ad.900b5","name":"","topic":"motion/status","qos":"1","broker":"2a4d0fe6.ea549","x":150,"y":1660,"wires":[["26fddca2.31cdb4","f4a0a3cd.685fa"]]},{"id":"e76ec8a5.771a18","type":"mqtt in","z":"ae8e32ad.900b5","name":"","topic":"motion/acknowledge","qos":"1","broker":"2a4d0fe6.ea549","x":170,"y":1600,"wires":[["8729fa4e.3145a8"]]},{"id":"d23536de.259ef8","type":"mqtt out","z":"ae8e32ad.900b5","name":"","topic":"","qos":"","retain":"false","broker":"2a4d0fe6.ea549","x":790,"y":1540,"wires":[]},{"id":"800b8bac.7e72d8","type":"mqtt out","z":"ae8e32ad.900b5","name":"","topic":"","qos":"","retain":"false","broker":"2a4d0fe6.ea549","x":790,"y":1380,"wires":[]},{"id":"3e16e07b.65d34","type":"mqtt in","z":"ae8e32ad.900b5","name":"","topic":"motion/test","qos":"1","broker":"2a4d0fe6.ea549","x":140,"y":1440,"wires":[["360c1cb7.9531a4","bcdf2eeb.8910a"]]},{"id":"f4a0a3cd.685fa","type":"switch","z":"ae8e32ad.900b5","name":"split","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Motion Detected!","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1660,"wires":[["e2d7052d.bd6c68","beca9d6e.488bd"]]},{"id":"26fddca2.31cdb4","type":"ui_text","z":"ae8e32ad.900b5","group":"5b0ed721.84b268","order":2,"width":"0","height":"0","name":"","label":"Current Status: ","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":1720,"wires":[]},{"id":"190134a1.b410ab","type":"ui_text","z":"ae8e32ad.900b5","group":"5b0ed721.84b268","order":1,"width":"0","height":"0","name":"","label":"Warnings: ","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":1600,"wires":[]},{"id":"3f2c5646.f17d0a","type":"ui_button","z":"ae8e32ad.900b5","name":"","group":"5b0ed721.84b268","order":3,"width":0,"height":0,"passthru":false,"label":"Acknowledge Warning","color":"","bgcolor":"rgb(0, 148, 206)","icon":"","payload":"2","payloadType":"num","topic":"motion","x":180,"y":1540,"wires":[["78f419d6.e2ea18"]]},{"id":"560e4168.efd01","type":"ui_button","z":"ae8e32ad.900b5","name":"","group":"5b0ed721.84b268","order":4,"width":0,"height":0,"passthru":false,"label":"Test Motion Connection","color":"","bgcolor":"rgb(0, 148, 206)","icon":"","payload":"1","payloadType":"num","topic":"motion","x":190,"y":1380,"wires":[["800b8bac.7e72d8","ace67231.acab9","f70b41d5.5318e"]]},{"id":"360c1cb7.9531a4","type":"ui_text","z":"ae8e32ad.900b5","group":"5b0ed721.84b268","order":5,"width":0,"height":0,"name":"reply","label":"","format":"{{msg.payload}}","layout":"col-center","x":790,"y":1440,"wires":[]},{"id":"ace67231.acab9","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":"Failed","duration":"0","units":"s","name":"msg","x":440,"y":1400,"wires":[["bdc80f5f.cb506"]]},{"id":"bdc80f5f.cb506","type":"stoptimer","z":"ae8e32ad.900b5","duration":"3","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":620,"y":1480,"wires":[["360c1cb7.9531a4"],[]]},{"id":"f70b41d5.5318e","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":"  . . .","duration":"0","units":"s","name":"msg","x":440,"y":1340,"wires":[["360c1cb7.9531a4","56eae9bb.d3cfe8"]]},{"id":"8729fa4e.3145a8","type":"function","z":"ae8e32ad.900b5","name":"","func":"context.global.motionWarn = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1600,"wires":[["190134a1.b410ab"]]},{"id":"78f419d6.e2ea18","type":"switch","z":"ae8e32ad.900b5","name":"","property":"motionWarn","propertyType":"global","rules":[{"t":"neq","v":" ","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1540,"wires":[["d23536de.259ef8"]]},{"id":"bcdf2eeb.8910a","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":" ","duration":"0","units":"s","name":"msg","x":440,"y":1480,"wires":[["bdc80f5f.cb506"]]},{"id":"56eae9bb.d3cfe8","type":"timeouttrigger","z":"ae8e32ad.900b5","ontimeouttype":"str","ontimeoutval":" ","duration":"5","units":"s","name":"msg","x":640,"y":1340,"wires":[["360c1cb7.9531a4"]]},{"id":"beca9d6e.488bd","type":"http request","z":"ae8e32ad.900b5","name":"","method":"POST","ret":"txt","url":"","tls":"","x":810,"y":1700,"wires":[[]]},{"id":"e2d7052d.bd6c68","type":"e-mail","z":"ae8e32ad.900b5","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":790,"y":1660,"wires":[]},{"id":"dc5226bc.6d9238","type":"comment","z":"ae8e32ad.900b5","name":"Why timers?","info":"If ESPs don't respond in 3 seconds I assume they're\nnot connected and I wanted to send a \"Failed\" \nmessage instead of not replying at all.","x":1090,"y":280,"wires":[]},{"id":"22c4eb0b.7e7284","type":"comment","z":"ae8e32ad.900b5","name":"Output does nothing?","info":"I removed the email and ifttt.com links after the\nproject was done. You can refill them out with \nyour info.","x":1120,"y":560,"wires":[]},{"id":"15753938.669247","type":"comment","z":"ae8e32ad.900b5","name":"switchWarn variable?","info":"If there are no warnings then there's no point in \ndismissing them so the variable stores what warnings\nare sent from the esp. \nWhen pressing the acknowledge button the switch \nchecks to see if the variable is not equal to \" \"\nbefore asking the esp to dismiss it.\n","x":1120,"y":480,"wires":[]},{"id":"2a4d0fe6.ea549","type":"mqtt-broker","z":"","name":"","broker":"192.168.137.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"9790a0cb.589fb","type":"ui_group","z":"ae8e32ad.900b5","name":"Magnetic Switch Sensor","tab":"4b012859.6c3a18","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d892e58.f0765","type":"ui_group","z":"ae8e32ad.900b5","name":"Smoke Sensor","tab":"4b012859.6c3a18","disp":true,"width":"6","collapse":false},{"id":"5b0ed721.84b268","type":"ui_group","z":"","name":"Motion Sensor","tab":"4b012859.6c3a18","order":3,"disp":true,"width":"6","collapse":false},{"id":"4b012859.6c3a18","type":"ui_tab","z":"ae8e32ad.900b5","name":"Home Alarm System (HAS)","icon":"dashboard"}]